<div class="topbar">
  <div class="container topbar__inner">
    <span class="topbar__note">One point of contact for personal injury care coordination</span>
    <div class="topbar__links">
      <a href="tel:{{ site.phoneTel }}">{{ site.phone }}</a>
      <span class="topbar__sep" aria-hidden="true">|</span>
      <a href="{{ '/contact.html#partner' | url }}">Partner With Us</a>
    </div>
  </div>
</div>
